*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/convention/build/
/build-logic/convention/build/classes/kotlin/main/
/buildSrc/build/
/buildSrc/build/classes/kotlin/main/
/libs/common/libxposed/api/build/
/libs/common/libxposed/api/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/libs/common/libxposed/service/build/
/libs/common/libxposed/service/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/libs/ui/xView/build/
/libs/ui/xView/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/.spec-workflow/
/app/release/
/.idea/inspectionProfiles/Project_Default.xml
/app/.cxx/
/app/debug/
/.kotlin
/nul
/app/src/main/java/moe/ouom/wekit/hooks/sdk/api/debug/
/app/src/main/cpp/include/generated_checksums.h
/app/src/main/cpp/include/generated_hidden_dex.h
/app/nul
/.idea/deploymentTargetSelector.xml
/.idea/copilot.data.migration.ask2agent.xml
